<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Receipt management tool</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h2>Receipt management tool</h2>
        </div>


        <div class="section">
            <p class="lead">Files:</p>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>File Name</th>
                        <th>Created at</th>
                        <th>Modified at</th>
                        <th>Store</th>
                    </tr>
                </thead>
                <tbody id="tableBody">


                </tbody>
                <p id="noResponse" class="lead text-center">No response</p>
            </table>
        </div>
        <div class="section">
            <button id="fetchButton" type="button" class="btn btn-primary">Fetch receipts from email</button>
             <p iclass="lead text-center">Fetches receipts from emails using email apis(gmail, yahoo mail, etc). Adds Metadata(store, totals, tax, etc) to them, stores them in box and displays them in the above file list.</p>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        $('#noResponse').removeClass('active');
        $.get("/api/getlist").done(function (data) {
            if (!data || jQuery.isEmptyObject(data)) {
                $('#noResponse').addClass('active');
            } else {

                $('#noResponse').removeClass('active');
                $.each(data.entries, function (index, entry) {
                    var rowHtml = "";
                    $.get("/api/getfileinfo/" + entry.id).done(function (response) {
                        var created_date = new Date(response.created_at);
                        var modified_date = new Date(response.modified_at);
                        rowHtml = '<tr><td>' + entry.name + '</td><td>' + created_date.toString() + '</td><td> ' + modified_date.toString() + ' </td>';

                        $.get("/api/getfilemetadata/" + entry.id).done(function (responseMeta) {
                            if (responseMeta.entries.length > 0) {
                                rowHtml = rowHtml + '<td>' + responseMeta.entries[0].store + '</td></tr>';

                            } else {
                                rowHtml = rowHtml + '<td style="color: red">No store info in metadata<button type="button" class="btn btn-primary">Add store info</button></td></tr>';
                            }
                            $('#tableBody').append(rowHtml);
                        });
                    });

                });
            }
        });
        $('#fetchButton').click(function (e) {
            var html = '<tr><td>Square_receipt.pdf</td><td>' + new Date().toString() + '</td><td> ' + new Date().toString() + ' </td><td>Square</td></tr>';
            $('#tableBody').append(html);
        });
    </script>
</body>

</html>